@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.body{

    font-family: 'Poppins', sans-serif;
    margin: 0;

}

.bg_img{
	background-image: url(/img/bg4.png);
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background-size: cover;
	filter: brightness(0.2);
	
    
    
}

.center-home > h2 {
    color: blanchedalmond;
	align-items: center;
	font-size: 50px;
	text-align: center;
}


.img-left{
	display: table;
	margin: none;
	
  
}

.imagem, img{
	width: 450px;
	display: table-cell;
	float: left;
	margin: auto;
	box-shadow: 0px 0px 30px rgba(173, 29, 29, 0.699);
}

.texto{
	
	display:table-cell;
	color:rgba(250, 235, 215, 0.979);
	float: right;
	margin-top: -20px;
	margin-left: 100px;
	font-size: 12pt;
	
}

.texto > h2{
	font-size: 35px;
	text-align: center;
	color: beige;
}

.texto > p {
	font-size: 16pt;

}